:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #21c45d;
    --red-color: #f33226;
    --grey-color: #888;
}
/* Start Box */
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.f-werp {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
}
/* End Box */
/* Start Padding + Margin */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-25 {
    margin-right: 25px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-0 {
    margin-bottom: 0px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-alt-blue {
    background-color: var(--blue-alt-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-transparent {
    background-color: transparent;
}
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
.c-green {
    color: var(--green-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-red {
    color: var(--red-color);
}
.c-white {
    color: white;
}
.c-eee {
    color: #eee;
}
.c-ccc {
    color: #ccc;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.cursor-pointer {
    cursor: pointer;
}
.txt-c {
    text-align: center;
}
.txt-capital {
    text-transform: capitalize;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
.b-none {
    border: none;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font */
/* Start border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-50 {
    border-radius: 50%;
}
.rad-half {
    border-radius: 50%;
}
.b-b {
    border-bottom: 1px solid #eee;
}
.border-ccc {
    border: 1px solid #CCC;
}
.b-t {
    border-top: 1px solid #eee;
}
/* End Radius */
/* Start Media */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
/* End Media */
/* Start Components */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}
.toggle-switch {
    position: relative;
    background-color: #CCC;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
.transition {
    transition: 0.3s;
}
.transition:hover {
    background-color: var(--blue-alt-color);
}
.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 4px;
    margin-top: -9px;
}
.widgets-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
}
.widgets-control .control label:hover:before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}
.backup-manager input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-manager .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-manager .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    transition: 0.2s;
}
.backup-manager .date label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    left: 5px;
    top: 50%;
    margin-top: -6px;
    transform: scale(0);
    transition: 0.2s;
}
.backup-manager .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
.backup-manager .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
/* End Components */
/* Start Width */
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-fit {
    width: fit-content;
}
.w-100 {
    width: 100px;
}
.w-30 {
    width: 30px;
}
/* End Width */
/* Start Shadow */
.box-shadow {
    box-shadow: 0 0 10px 0px #ccc;
}
/* End Shadow */